{% extends "base.html" %}
{% block title %}Contactanos{% endblock title %}
{% block content %}
<body>
{% if info_enviado %}
	Gracias por enviar tu comentario
	<br>
	La informacion recibida fue la siguiente</br>
<p> Email utilizado : {{email}}
<p>titulo utilizado es : {{ titulo }} <p>
<p>el mensaje es : {{texto}}<p>

{% else %}
      <form action="." method="POST">
        {% csrf_token %}
	      {{ form.as_p }}
	      <input type="submit" value="Registrar"></input>
{% endif %}
 {% endblock content %}